.header {
    padding: 30px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    color: #282c34;
}

.nav-ul {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
}
.nav-ul li{
    padding: 0 16px;
    display: inline-block;
    float: left;
    text-decoration: none;
}
.link {
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    color: #75ff5b;
}
.all_link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    color: #ff0c00;
}
.submit_link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: black;
    padding-bottom: 2px;
}


